<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.section01.xmlconfig.MemberMapper">
    <resultMap id="memberResultMap" type="com.ohgiraffers.section01.xmlconfig.MemberDTO">
        <id property="id" column="EMP_ID"/>
        <result property="name" column="EMP_NAME"/>
        <result property="empNo" column="EMP_NO"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="deptCode" column="DEPT_CODE"/>
        <result property="jobCode" column="JOB_CODE"/>
        <result property="salLevel" column="SAL_LEVEL"/>
        <result property="salary" column="SALARY"/>
        <result property="bonus" column="BONUS"/>
        <result property="managerId" column="MANAGER_ID"/>
        <result property="hireDate" column="HIRE_DATE"/>
        <result property="entDate" column="ENT_DATE"/>
        <result property="entYn" column="ENT_YN"/>
    </resultMap>

    <select id="selectAllMember" parameterType="com.ohgiraffers.section01.xmlconfig.MemberDTO" resultMap="memberResultMap">
        SELECT
               EMP_ID,
               EMP_NAME,
               EMP_NO,
               EMAIL,
               PHONE,
               DEPT_CODE,
               JOB_CODE,
               SAL_LEVEL,
               SALARY,
               BONUS,
               MANAGER_ID,
               HIRE_DATE,
               ENT_DATE,
               ENT_YN
           FROM EMPLOYEE
        ORDER BY EMP_ID
    </select>

    <select id="selectMemberById" parameterType="_int" resultMap="memberResultMap">
        SELECT
            EMP_ID,
            EMP_NAME,
            EMP_NO,
            EMAIL,
            PHONE,
            DEPT_CODE,
            JOB_CODE,
            SAL_LEVEL,
            SALARY,
            BONUS,
            MANAGER_ID,
            HIRE_DATE,
            ENT_DATE,
            ENT_YN
       FROM EMPLOYEE
      WHERE EMP_ID = #{ id }
    </select>

    <insert id="insertMember" parameterType="com.ohgiraffers.section01.xmlconfig.MemberDTO">
        INSERT INTO EMPLOYEE (
            EMP_ID,
            EMP_NAME,
            EMP_NO,
            EMAIL,
            PHONE,
            DEPT_CODE,
            JOB_CODE,
            SAL_LEVEL,
            SALARY,
            BONUS,
            MANAGER_ID,
            HIRE_DATE,
            ENT_DATE,
            ENT_YN
        )
           VALUES (
                    #{id},
                    #{name},
                    #{empNo},
                    null,
                    null,
                    null,
                    #{jobCode},
                    #{salLevel},
                    null,
                    null,
                    null,
                    #{hireDate},
                    null,
                    'N'
                  )
    </insert>

    <update id="updateMember" parameterType="com.ohgiraffers.section01.xmlconfig.MemberDTO">
        UPDATE EMPLOYEE
           SET SAL_LEVEL = #{salLevel}
         WHERE EMP_ID = #{id}
    </update>

    <delete id="deleteMember" parameterType="_int">
        DELETE
        FROM EMPLOYEE
        WHERE EMP_ID = #{id}
    </delete>
</mapper>